*{
    margin:0;
    padding:0;
}

body{
    font-family: "Poppins",Sans-serif;
    background: #232526;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.container1{
    position:absolute;
    top:40%;
    left:10%;
}

.container2,.container3{
    padding-left:20px;
}

.img1{
    width:50px;
    height:50px;
    border-radius:20px;
}

.navbar-brand{
    padding-left:30px;
}

.container2{
    border-left:1px solid white;
}

h1{
    color:white;
    font-size:100px;
}

.navbar{
    padding-top:20px;
}

.font1{
    font-family: 'Orbitron', sans-serif;
}

.text1{
    color:#64ffda;
}

.text2{
    color:grey;;
}

.name1{
    animation: color1 5s ease-in-out infinite;
}

@keyframes color1{
    0%{
        color:grey;
    }
    25%{
        color:#64ffda;

    }
    50%{
        color:grey;

    }
    75%{
        color:#64ffda;

    }
    100%{
        color:grey;
    }
}
