*{
    margin:0;
    padding:0;
}

body{
    font-family: "Poppins",Sans-serif;

}

.container1{
    position:absolute;
    width:80%;
    height:50%;
    left:10%;
    top:30%;
}

.container2,.container3{
    padding-left:20px;
}

.img1{
    width:50px;
    height:50px;
    border-radius:20px;
}

.navbar-brand{
    padding-left:30px;
}

.container2{
    border-left:1px solid black;
}

h1{

    font-size:70px;
}

.navbar{
    padding-top:20px;
}

.font1{
    font-family: 'Orbitron', sans-serif;
}

.text1{
    color:#64ffda;
}

.text2{
    color:grey;;
}

.name1{
    animation: color1 5s ease-in-out infinite;
}

@keyframes color1{
    0%{
        color:grey;
    }
    25%{
        color:#64ffda;

    }
    50%{
        color:grey;

    }
    75%{
        color:#64ffda;

    }
    100%{
        color:grey;
    }
}

#img2{
    position:relative;
    left:50%;
    width:50%;
    height:50%;
    z-index:-1
}



